body {
    background-image: url(../../img/bg-opere.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
}

.title {
    align-items: center;
    text-align: center;
    margin-top: 5px;
    color: white;
    padding: 5%;
    font-size: 26px;
    font-family: 'Roboto';
    font-style: normal;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btn {
    margin: 30px;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Meera Inimai';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}